---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span> 
  {{ content | remove_first: '&lt;!--more--&gt;'}}


  {% if site.duoshuo_share && site.duoshuo_username %}
                <!-- 多说 Share start -->
                </style>
                <div class="ds-share"
                    style="text-align: right"
                    data-thread-key="{{page.id}}"
                    data-title="{{page.title}}"
                    data-url="{{site.url}}{{site.baseurl}}{{page.url}}"
                    data-images="{{ site.url }}{{site.baseurl}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
                    data-content="{{ content | strip_html | truncate:80 }} | {{ site.SEOTitle }} " >
                    <div class="ds-share-inline">
                      <ul  class="ds-share-icons-16">
                        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                        <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                        <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                        <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                      </ul>
                      <div class="ds-share-icons-more">
                      </div>
                    </div>
                <hr>
                </div>
                <!-- 多说 Share end-->
                {% endif %}
                
</article>


{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}


<!--https://andrew-liu.gitbooks.io/django-blog/content/duo_8bf42c_markdown_he_dai_ma_gao_liang.html -->
{% if site.duoshuo_username %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
